<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bw/superhero/bootstrap.css' />
  </head>
  <body>
    <div class="container">
        {{{body}}}
        <a class="btn btn-primary" href="/bullshittery">Here's some bullshittery!</a>
    </div>
  </body>
</html>
